@keyframes glowHeaderRed{
  0%{
    background: #d00;
    background: radial-gradient(14px at center,white,#d00,#d00);
    box-shadow: 0 0 7px rgba(255,0,0,0.8);
    transform: scale(1);
  }
  50%{
    background: #f00;
    background: radial-gradient(14px at center,white,#f00,#f00);
     box-shadow: 0 0 14px rgba(255,0,0,0.8);
     transform: scale(1.1);
  }
  100%{
    background: #d00;
    background: radial-gradient(14px at center,white,#d00,#d00);
    box-shadow: 0 0 7px rgba(255,0,0,0.8);
    transform: scale(1);
  }
}

@keyframes glowHeaderGreen{
  0%{
    background: #0d0;
    background: radial-gradient(14px at center,white,#0d0,#0d0);
    box-shadow: 0 0 7px rgba(0,255,0,0.8);
    transform: scale(1);
  }
  50%{
    background: #0f0;
    background: radial-gradient(14px at center,white,#0f0,#0f0);
    box-shadow: 0 0 14px rgba(0,255,0,0.8);
    transform: scale(1.1);
  }
  100%{
    background: #0d0;
    background: radial-gradient(14px at center,white,#0d0,#0d0);
    box-shadow: 0 0 7px rgba(0,255,0,0.8);
    transform: scale(1);
  }
}


.row{
	&.no-gutters {
  		margin-right: 0;
  		margin-left: 0;

		> [class^="col-"], > [class*=" col-"]{
			padding-right: 0;
  			padding-left: 0;
		}
  	}
}

/*- Components*/

/* The splitted image

  -----------------------------
  |				    |		|
  |					---------
  |					|		|
  -----------------------------
*/

.v-components{
	&.splitted-image{
		$v-splitted-image-bg-color: #fff;
		$v-splitted-image-border-color: #fff;
		$v-splitted-image-border-size: 2px;
		
		background-color: #fff;

		.item{
			border-right:$v-splitted-image-border-size solid $v-splitted-image-border-color;
			border-bottom:$v-splitted-image-border-size solid $v-splitted-image-border-color;
		}
		
		.ar-wrapper{
			position: relative;
			height:0;
			overflow:hidden;
			&.ar16-9{
				padding-bottom: 56.25%; //16:9 aspect ratio
			}

			.fake-border-hide{
				position:absolute;
				width:100%;
				bottom: 0;
				height: $v-splitted-image-border-size;
				background:$v-splitted-image-bg-color;
			}
		}
	}
}





