html {
    height: 100%;
    overflow-y: hidden;
}

body {
    height: 100%;
    overflow-y: scroll;
    background: url('../img/heroes-background.jpg') no-repeat;
    background-position: 50% 0%;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f3f3f3;
    overflow-x: hidden;
    /*counter-reset: item;*/
}
.item {
    /*counter-increment: item;*/
    border: 1px solid #000;
    max-width: 300px;
    position: relative;
    margin: auto;
    box-shadow: 0 0 10px #000;
    /*&--header {
        background-color: #000;
        height: 30px;
        position: relative;
        &:before {
            content: ' ';
            background: #f00;
            background: radial-gradient(14px at center, white, red, red);
            width: 20px;
            height: 20px;
            border-radius: 50% 50%;
            box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
        }
        .item.open & {
            &:before {
                background: #0f0;
                background: radial-gradient(14px at center, white, #0f0, #0f0);
                box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
            }
        }
    }*/

    &--content {
        background-color: #999;
        background: url('../img/hero-placeholder-contentonly.jpg') no-repeat;
        background-size: cover;
        position: relative;
        img {
            max-height: 400px;
        }

        &--overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 5%;
        }

    }

    &:not(.open) {
        &:after {
            position: absolute;
            left: 0;
            top: 50%;
            right: 0;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            display: inline-block;
            font-size: 1.1em;
            white-space: pre;
        }
    }

    .episode{
        &--number{
            font-style: italic;
            font-size: 1em;
        }
        &--title{
            font-weight: bold;
            font-size: 1.5em;
        }
        &--date{
            font-size: 0.8em;
        }
    }
                                   
                                    
}
.ar-wrapper {
    height: 0;
    overflow: hidden;
    &.ar16-9 {
        padding-bottom: 56.25%; //16:9 aspect ratio
    }
}
.logo {
    max-width: 100%;
    display: block;
    margin: 30px auto;
    margin-bottom: 0;
}
.row {
    padding: 15px;
}
