html {
    height: 100%;
    overflow-y: hidden;
}

body {
    font-family: MuseoSans500, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    overflow-y: scroll;
    background: url('../img/heroes-background.jpg') no-repeat;
    background-position: 50% 0%;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f3f3f3;
    overflow-x: hidden;
    /*counter-reset: item;*/
}
.item {
    /*counter-increment: item;*/
    border: 1px solid #000;
    max-width: 300px;
    position: relative;
    margin: auto;
    box-shadow: 0 0 10px #000;
    /*&--header {
        background-color: #000;
        height: 30px;
        position: relative;
        &:before {
            content: ' ';
            background: #f00;
            background: radial-gradient(14px at center, white, red, red);
            width: 20px;
            height: 20px;
            border-radius: 50% 50%;
            box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
        }
        .item.open & {
            &:before {
                background: #0f0;
                background: radial-gradient(14px at center, white, #0f0, #0f0);
                box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
            }
        }
    }*/

    &--content {
        background-color: #999;
        background: url('../img/hero-placeholder-contentonly.jpg') no-repeat;
        background-size: cover;
        position: relative;
        img {
            max-height: 400px;
        }

        &--overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 5%;
        }

    }

    &:not(.open) {
        &:after {
            position: absolute;
            left: 0;
            top: 50%;
            right: 0;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            display: inline-block;
            font-size: 1.1em;
            white-space: pre;
        }
    }

    .episode{
        &--number{
            font-style: italic;
            font-size: 1em;
        }
        &--title{
            font-weight: bold;
            font-size: 1.5em;
        }
        &--date{
            font-size: 0.8em;
        }
    }
                                   
                                    
}
.ar-wrapper {
    height: 0;
    overflow: hidden;
    &.ar16-9 {
        padding-bottom: 56.25%; //16:9 aspect ratio
    }
}
.logo {
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    margin-bottom: 0;

    &--container{
        text-align: center;
    }
}
.row {
    padding: 15px;
}

/* POST */
.post{
    *{
        color: #fff;
    }

    a:hover, a:focus{
        color: #fff;
    }

    &.container{
        background: rgba(0, 0, 0, 0.6);
        max-width: 600px;
        padding: 1.5em;
        margin-bottom: 2em;
        border-radius: 5px;
    }

    &--header{
        text-align: center;
        .post--title{
            margin-bottom: 0;
        }
        &--image{
            max-width: 150px;
        }
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #fff;
    }

    &--meta{
        .author{
            color: #ccc;
            font-style: italic;
        }
    }

    &--utils{
        &--audio{
            .fa-volume-up{
                padding-right: 5px;
            }
        }

        &--social{
            padding-top: 0.5em;
            a{
                padding-left: 0.5em;
                padding-right: 0.5em;
                span{
                    border-radius: 50%;
                    border: 2px solid #fff;
                    transition: all 0.6s;
                }

                &:hover, .touch &{
                    .social--facebook, .social--like{
                        background-color: #3B579D;
                    }
                    .social--twitter{
                        background-color: #2CAAE1;
                    }
                    .social--google{
                        background-color: #DD4B39;
                    }
                }
            }
        }
    }

    &--footer{
        .post--utils{
            float: right;
            text-align: center;
        }
    }
}
