body{
	background: url('../img/heroes-background.jpg') no-repeat;
	background-size: cover;
	background-repeat: repeat-y;
}


.item{
	border: 2px solid #000;
	max-width: 300px;
	margin: auto;

	&--header{
		background-color: #000;
		height: 30px;
		position: relative;

		&:before{
			content: ' ';
		  	background: radial-gradient(14px at center,white,red,red);
		  	width: 20px;
			height: 20px;
			border-radius: 50% 50%;
			box-shadow: 0 0 20px rgba(255,0,0,0.8);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -10px;
			margin-top: -10px;
			animation: glowHeaderRed infinite 1.5s;
		}

		&.open{
			&:before{
				animation-name: glowHeaderGreen;
			}
		}
	}

	&--content{
		background-color: #999;
		background: url('../img/hero-placeholder-contentonly.jpg') no-repeat;
		background-size: cover;

		img{
			max-height: 400px;
		}
	}
}

.ar-wrapper{
	height:0;
	overflow:hidden;
	&.ar16-9{
		padding-bottom: 56.25%; //16:9 aspect ratio
	}
}

.logo{
	max-width: 100%;
	display: block;
	margin: 30px auto;
}

.row{
	padding: 15px;
}