extends ./layouts/master
block content
	.row.heroes-container
		- var heroes=[{name: 'Noah', date: '26 July 2015'},{name: 'Abraham', date: '2 August 2015'},{name: 'David', date: '9 August 2015'},{name: 'Esther', date: '16 August 2015'},{name: 'Joseph', date: '13 September 2015'},{name: 'Joshua', date: '20 September 2015'},{name: 'Elijah', date: '4 October 2015'},{name: 'Moses', date: '11 October 2015'},{name: 'Daniel', date: '18 October 2015'},{name: 'Job', date: '1 November 2015'},{name: 'Ruth', date: '22 November 2015'},{name: 'Jonah', date: '29 November 2015'},{name: 'Gideon', date: '13 December 2015'},{name: 'Jesus', date: '20 December 2015'}]
		- for(var i=0; i<14; i++){
		- if (i<4) 
			- sortClass = 'open'
		- else
			- sortClass = ''
		.col-xs-12.col-sm-4.col-lg-1.item--container(class=sortClass)
			a(href="post.html")
				- if(i % 2 == 0)
					- sampleImage = "http://placehold.it/346x356"
				- else
					- sampleImage = "assets/img/hero-placeholder-contentonly.jpg"
				.item
					.item--content
						img.img-responsive(src=sampleImage)
						.item--content--overlay
							.episode--title
								| Ep.&nbsp;
								span= (i+1)
								| &nbsp; - &nbsp;
								= heroes[i].name
							.episode--date= heroes[i].date
		-}
		