doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Heroes
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='assets/css/main.css')
		//-script(src='js/vendor/modernizr-2.7.1.min.js')
	body
		<!--[if lt IE 8]>
		p.browsehappy
			| You are using an <strong>outdated</strong> browser.
			| Please <a href="http://browsehappy.com/">upgrade your browser</a>
			| to improve your experience.
		<![endif]-->
		include ./partials/rockmenu		
		.container-fluid
			.row
				.col-xs-12
					img.logo(src="assets/img/heroes-title.png", alt="Heroes")
			.row
				- for(var i=0; i<14; i++){
				.col-xs-12.col-sm-4.col-lg-1
					a(href="#")
						- if(i % 2 == 0)
							- itemClass = "open"
							- sampleImage = "http://placehold.it/346x356"
						- else
							- itemClass = ""
							- sampleImage = "assets/img/hero-placeholder-contentonly.jpg"
						.item(class = itemClass)
							.item--header
							.item--content
								img.img-responsive(src=sampleImage)
				-}
			

		script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')
		script(src='assets/js/global.min.js')
		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		//-
			script
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');