extends ./layouts/master
block content
	article.container.post
		.col-xs-12
			header.post--header.clearfix
				img.post--header--image.v-rounded(src="http://rocksydney.org.au/heroes/wp-content/uploads/2015/07/Noah-Col-e1438249025117.jpg")
				h1.post--title Ep 1. Noah
				.post--meta
					.author
						| Ferdinand Haratua
					.date
						| 26 Aug 2015
				.post--utils
					.post--utils--audio
						a(href="#")
							i.fa.fa-volume-up
							| Listen to sermon
					.post--utils--social
						a(href="#")
							span.social--like.fa-lg.fa-stack
								i.fa.fa-thumbs-o-up
						a(href="#")
							span.social--facebook.fa-lg.fa-stack
								i.fa.fa-facebook
						a(href="#")
							span.social--twitter.fa-lg.fa-stack
								i.fa.fa-twitter
						a(href="#")
							span.social--google.fa-lg.fa-stack
								i.fa.fa-google


			section.post--content
				p 
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea amet quia vel, nobis illo, 
					| distinctio ipsum magni est quam laborum corrupti iste, recusandae asperiores voluptas sapiente. Quis architecto debitis maiores?
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aperiam rem ut, autem veritatis porro eius ipsam 
					| velit corrupti laudantium iusto ullam, similique itaque cumque eligendi reiciendis provident ipsa error.
				p 
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea amet quia vel, nobis illo, 
					| distinctio ipsum magni est quam laborum corrupti iste, recusandae asperiores voluptas sapiente. Quis architecto debitis maiores?
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aperiam rem ut, autem veritatis porro eius ipsam 
					| velit corrupti laudantium iusto ullam, similique itaque cumque eligendi reiciendis provident ipsa error.
				p 
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea amet quia vel, nobis illo, 
					| distinctio ipsum magni est quam laborum corrupti iste, recusandae asperiores voluptas sapiente. Quis architecto debitis maiores?
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet aperiam rem ut, autem veritatis porro eius ipsam 
					| velit corrupti laudantium iusto ullam, similique itaque cumque eligendi reiciendis provident ipsa error.
			footer.post--footer
				.post--utils
					.post--utils--social
						a(href="#")
							span.fa-stack
								i.fa.fa-volume-up
						a(href="#")
							span.social--like.fa-stack
								i.fa.fa-thumbs-o-up
						a(href="#")
							span.social--facebook.fa-stack
								i.fa.fa-facebook
						a(href="#")
							span.social--twitter.fa-stack
								i.fa.fa-twitter
						a(href="#")
							span.social--google.fa-stack
								i.fa.fa-google
				
